alembic==1.14.0
astropy==7.1.0
astropy-iers-data==0.2025.6.2.0.38.23
certifi==2025.1.31
charset-normalizer==3.4.1
greenlet==3.1.1
idna==3.10
Mako==1.3.8
MarkupSafe==3.0.2
numpy==2.2.6
packaging==25.0
psycopg2==2.9.10
pyerfa==2.0.1.5
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.3.0
